@model SocialNetwork.WebUI.Models.GroupViewModels
@{
    ViewBag.Title = "Group Profile";
}
<div></div>
<div class="text-center">
    <h2>@Model.group.groupName</h2>
</div>
<div class="container">
    <div class="col-sm-2">
        <div class="post-container">
            <div>
                <h4>Owner:@Model.group.owner.fullName</h4>
            </div>
            <div>
                <h4>Member count: @Model.group.usersInGroup.Count</h4>
            </div>
            <div>
                <h4>Members:</h4>
                @foreach (SocialNetwork.DataAccess.User member in Model.group.usersInGroup)
                {
                    <div class="container" >
                        <p>@member.fullName</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        @foreach (var post in Model.group.groupWall)
        {
            <div class="post-container">
                <h2>@post.title</h2>
                <h4>@post.time</h4>
                <p>@post.content</p>
                <div class="container post-code">
                    <pre>@post.code</pre>
                </div>
                <p>Likes: @post.likes</p>
                <div class="comment-container col-sm-8">
                    @foreach (SocialNetwork.DataAccess.Comment comment in post.comments)
                    {
                        @Html.Partial("_Comment", comment)
                    }
                </div>
            </div>
        }
    </div>
</div>