@model SocialNetwork.WebUI.Models.PostViewModel

<div class="container">
    <div class="post-container">
        <div class="container post-sidebar col-md-3 red">
            <img class="post-profile-image" src="~/Content/profile-picture-blank.gif"/>
            <h4>
                @if (Model.post is SocialNetwork.DataAccess.UserPost)
                {
                    
                }
            </h4>
        </div>

        <div class="container post-content col-md-9">
            <h2>@Model.post.title - @Model.post.language</h2>
            <h4>@Model.post.time.ToShortDateString()</h4>
            <p>@Model.post.content</p>
            <div class="container post-code">
                <pre>@Model.post.code</pre>
            </div>
            <p>Likes: @Model.post.likes</p>            
        </div>   

        <div class="container post-comments col-md-offset-3 col-md-9">
            @foreach (SocialNetwork.DataAccess.Comment comment in Model.post.comments)
            {
                @Html.Partial("_Comment", comment)
            }
        </div>
             
        <hr class="post-hr"/>       
    </div>  
    
</div>
